#about{
	width: 100%;
	min-height:615px;
}

.about-content-wrap{
	max-width: 1100px;
	min-height: 260px;
	position: relative;
}

.about-title .shadow-num{
	color: #f3f3f3;
}

.about-content-hist{
	float:left;
	max-width: 51%;
	height: 100%;
	&:after{
		content:' ';
		clear:both;
		display:table;
	}
}



.about-content-hist > div{
	min-height: 65px;
	width: 100%;
	box-sizing:border-box;
}

.hist-item > div{
	//display: inline-block;
	float:left;
	position: relative;

}

.hist-head{
	font-family: 'PlayfairDisplay';
	font-size: 21px;
	padding-top:10px;
}

.hist-item-year{
	width: 20%;
	height: 100%;
	
	box-sizing:border-box;
	padding-top:25px;
	font-family: 'OpenSans-Bold';
	font-size: 21px;
}

.hist-item-descr{
	height: 100%;
	width: 80%;
	margin-left: 0px;
	padding:10px 0;
	font-family: 'OpenSans-Bold';
	font-size: 16px;
	box-sizing:border-box;
}

.about-content-exper{
	float:right;
	width: 45%;
	height: 100%;
}

.exper-head{
	font-family: 'PlayfairDisplay';
	font-size: 21px;
	height: 65px;
}

.exper-content{
	font-family: 'OpenSans';
	font-size: 14px;
	min-height:195px;
	line-height: 31px;
}

@media (max-width:1000px){
	.about-content-hist{
	    max-width: 80%;
    	margin: auto;
    	float:none;

    	& .hist-head{
    		text-align: center;
    	}
	}

	.about-content-exper{
	    margin: auto;
    	margin-top: 25px;
    	width: 80%;
    	float:none;

		& .exper-head{
			text-align: center;
		}

	}

}

@media (max-width:500px){
	.hist-item > div {
	    float: none; 
	    margin: auto;
	    position: relative;
	}
}