@font-face {
	font-family: "PlayfairDisplay";
	src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "PlayfairDisplay-Bold";
	src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSans-Bold";
	src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSans-Italic";
	src: url("../fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}