.navigation{
	max-width: 715px;
	height: 100px;
	margin: 0 auto;
	list-style: none;
	transform: translateX(36px);
}

.close{
	display: none;
}

@media (max-width:700px){
	.navigation{
		position: relative;
		height: auto;
		top:50%;
		transform: translateY(-50%);
	}
	.close{
		display: block;
		position: absolute;
		top:25px;
		right:25px;
		color:white;
		height: 30px;
		width: 15px;
		font-size: 27px;
		cursor:pointer;
	}
}
