@font-face {
	font-family: "OpenSans-Light";
	src: url("./fonts/OpenSans-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSans-Semibold";
	src: url("./fonts/OpenSans-Semibold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSans-Bold";
	src: url("./fonts/OpenSans-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSans-Regular";
	src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Proxima-Nova-Semibold";
	src: url("./fonts/ProximaNova/Proxima-Nova-Semibold.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}